body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
  border: none;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  border-radius: 2px;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.rating span {
  color: #ffc000;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}
button.thumbnail {
  padding: 0;
}
.green {
  color: #64d70d;
}
.red {
  color: red;
}

/* //////////home product styling////////////// */
.ProdictCotainer {
  background-color: #eee;
  border-radius: 5px;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  margin: 0 !important;
  max-width: 100%;
  overflow: auto;
  position: relative;
  white-space: nowrap;
  width: 100vw !important;
}
.ProductCard {
  background-color: #fff;
  border: 1px solid #e9ecefc9;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1) !important;
  cursor: pointer;
  margin: 15px 0 15px 19px;
  min-height: 383px;
  min-width: 87%;
  padding: 10px 12px;
  position: relative;
  transition: 0.2s ease;
}
.productImg {
  max-height: 15vmax;
}

/* ///// */

header {
  position: sticky;
  top: 0;
  z-index: 999;
}
.linkStyles {
  text-decoration: none;
  color: #000;
}
.linkStyles2 {
  text-decoration: none !important;
  color: #000;
}
.displayFlex {
  display: flex;
  margin-bottom: 15px;
}
#hide2,
#hide4,
#hide6 {
  display: none;
}
#displayNone,
.displayNone {
  display: none;
}
.FormControleye {
  display: flex;
}
.FormControlInput {
  position: relative;
}
.eye {
  padding: 6px 10px;
  position: absolute;
  margin-left: 35%;
}
.brandColor {
  color: #f0c040;
}
.whatsApp {
  color: #fff !important;
}
.ProductCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.1);
  transform: translateY(-0.3vmax);
}
/* ///////scroll  arrow////// */
.containerPro {
  position: relative;
}
.rightScroll,
.leftScroll {
  position: absolute;
  z-index: 99;
  top: 42%;
  border: 1px solid #eee;
  border-radius: 50%;
  background: #eee;
  color: #000;
  cursor: pointer;
}
.leftScroll {
  right: 0px;
}
.rightScroll {
  left: 0;
}
::-webkit-scrollbar {
  display: none;
}

/* Dashboard */

.summary > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}
.summary-title {
  font-size: 1.5rem;
  padding: 1rem;
}
.summary-body {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}
.summary-body2 {
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}
.summary-title.color1 {
  background-color: #f0e0e0;
}
.summary-title.color2 {
  background-color: #e0f0e0;
}
.summary-title.color3 {
  background-color: #e0e0f0;
}
.errorDiv {
  color: #f00000;
  text-align: center;
}
.bg-danger {
  background-color: #f0c040 !important;
}

/* model */
.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
.button {
  background-color: #f0c040;
  border: none;
  font-size: 20px;
  padding: 5px 9px;
  border-radius: 5px;
  cursor: pointer;
}
.favbutton {
  background-color: transparent;
  border: none;
  margin-top: 12px;
}
.favbutton i {
  color: #f0c040;
  font-size: 40px;
}
.favbutton p {
  color: #f0c040;
  font-size: 14px;
}
.nav-link i {
  font-size: 20px;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}

/* list style */
ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}
ol > li > p {
  font-weight: bold;
  color: #f0c040;
  text-decoration: underline;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}
.bold {
  font-weight: bold;
  text-align: center;
  color: #f0c040;
}
.italic {
  font-weight: bold;
  text-decoration: underline;
  color: #f0c040;
}

/*  */
@media (max-width: 768px) {
  .eye {
    padding: 10px;
    position: absolute;
    margin-left: 72%;
  }
  .table {
    display: block;
    flex-direction: row !important;
    justify-content: flex-start;
    margin: 0 !important;
    max-width: 100%;
    overflow: auto;
    position: relative;
    white-space: nowrap;
    width: 100vw !important;
  }
  .productImg {
    max-height: none;
  }
  .row > * {
    margin-bottom: 10px;
  }
  .h1,
  h1 {
    font-size: calc(1.375rem + 0.5vw);
  }
  /* .card-img,
  .card-img-bottom,
  .card-img-top {
    width: 29%;
  } */
  .row-cols-1 > * {
    flex: 0 0 auto;
    width: 35%;
  }
  .row {
    justify-content: center;
  }
}
